@use "../../../../assets/styles/variables.scss";

h2{
  padding-bottom: 10px;
  color: variables.$color-acento-600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

input{
    border-radius: 20px;
    background-color: variables.$color-principal-900;
    border-style: ridge;
    border-width: 1px;
    border-color: rgb(255, 255, 255, .5);
    color: white;
}

input:focus{
    outline: none;
}

div{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    border-radius: 10px;
    color: variables.$color-acento-600;
    padding: 10px;
  }

  button{
    margin-top: 10px;
    background-color: variables.$color-acento-600;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    width: 100px;
    display: flex;
  }


  button{
    padding: 10px;
    border-radius: 8px;
    border:  variables.$color-acento-700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: variables.$color-acento-700;
    color: variables.$color-texto-wh;
    justify-content: center;
  }

  .formcito{
    background-color: transparent;
    }