<div class="back">

<nav id="navegador">
    <ul>
        <li>Symbol</li>
        <li>Leyend</li>
        <li>IC</li>
    </ul>
</nav>

<div id="currency-component">
<app-tarjeta-currency
    *ngFor="let currency of currencies" 
    [currency]="currency"
    [routerLink]="[currency.id]">
</app-tarjeta-currency>
</div>

<button class= "botoncito" (click)="dialogNuevaCurrency.showModal()">
    <span class="material-symbols-outlined colorcito">
        add_circle
        </span>
</button>

<dialog class="formcito" method="dialog" #dialogNuevaCurrency>
        <app-nueva-currency (cerrar)="dialogNuevaCurrency.close()"></app-nueva-currency>
</dialog>

</div>