@use "../../../../assets/styles/variables.scss";

#container{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
}

// link in y .tab hover => cambio de color del SVG
.tab{
    flex: 1,
    svg{
        display: block;
        margin: auto;
        transition: 2s;
    }
    &:hover{
        stroke: 80px;
        background-color: variables.$color-acento-700;
        svg{
            color: variables.$color-acento-700;
            size: 40px;
        }
    }
}

.LinkIn{
    background-color: variables.$color-acento-700;
}

.icon{
    font-size: 40px;
    color: variables.$color-acento-600;
    padding: 7px;
    align-items: center;
}