<div id="container">
    <div class="tab" (click)="linker('subscription')" [ngClass]="{LinkIn: pageIn[0]}">
        <span class="material-symbols-outlined icon">
            extension
            </span>
        </div>
    <div class="tab" (click)="linker('conversion')" [ngClass]="{LinkIn: pageIn[1]}">   
        <span class="material-symbols-outlined icon">
            change_circle
            </span>    
    </div>
    <div class="tab" (click)="linker('currency')" [ngClass]="{LinkIn: pageIn[2]}">
        <span class="material-symbols-outlined icon">
            monetization_on
            </span>
    </div>
    <div class="tab" (click)="linker('historical')" [ngClass]="{LinkIn: pageIn[3]}">
        <span class="material-symbols-outlined icon">
            history
            </span>
    </div>     
</div>