
header {
    display: flex;
    width: auto;
    align-items: right;
    background-color: gray;
    
    nav {
      justify-content: right;
      padding: 0px 25px;
      width: 100%;
      display: flex;
      gap: 10px;
      align-items: center;
      > * {
        font-size: large;
        color: aquamarine;
        line-height: 20px;
        background-color: unset;
        border: unset;
        text-decoration: unset;
        padding: 16px 12px;
        cursor: pointer;
      }
    }
  }
  
  nav a {
    &:hover{
      background-color: rgb(10, 100, 100);
    }
  }
  
  nav button {
    &:hover{
      background-color: rgb(10, 100, 100);
    }
  }
  
  