@use "../../../../assets/styles/variables.scss";

header {
    display: flex;
    width: auto;
    background-color: gray;
    text-align: center;
    nav {
      align-items: center;
      text-align: center;
      padding: 0px 5px;
      width: 100%;
      display: flex;
      gap: 10px;
      justify-content: space-between;
      > * {
        font-size: large;
        color: aquamarine;
        line-height: 20px;
        background-color: unset;
        border: unset;
        text-decoration: unset;
        padding: 16px 12px;
        cursor: pointer;
      }
    }
  }

  nav p{
    align-items: end;
  }
  
  nav a {
    &:hover{
      background-color: rgb(10, 100, 100);
    }
  }

.header{
  display: flex;
}
button{
  align-items: start;
  margin-top: 10px;
  background-color: gray;
  font-weight: 600;
  border: unset;
  &:hover{
    background-color: variables.$color-acento-600;
  }
}
  