@use "../../../assets/styles/variables.scss";

.container{
    background-image: url("./../../../assets/img/background.png");
    color: variables.$color-texto-wh;
    height: 90vh;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

button{
    margin: 20px;
    padding: 5px;
    border-radius: 8px;
    border:  variables.$color-acento-700;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: variables.$color-acento-700;
    color: variables.$color-texto-wh;
    cursor: pointer;
    &[disabled]{
    background-color: variables.$color-principal-400;
    cursor:not-allowed;
    }
}

.inp{
    text-align: center;
    font-size: 25px; /* Cambia el tamaño de la fuente */
    margin: 20px;
    width: 215px; /* Cambia el ancho del select */
    padding: 15px;
    color: white;
    background-color: transparent;
    border-radius: 7px;
    border-color: variables.$color-acento-600;
    border-style: solid;
}

.sele{
    font-size: 25px; /* Cambia el tamaño de la fuente */
    margin: 20px;
    width: 250px; /* Cambia el ancho del select */
    padding: 10px;

}
input:focus{
outline: none;
}

.form{
    padding: 15px 30px;
    font-size: 15px;
}
.icon{
    font-size: 40px;
    color: variables.$color-acento-600;
    padding: 7px;
    align-items: center;
    transition: 2s;
    :hover{
        font-size: 60px;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none; 
}

select{
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    border-style: ridge;
    border-width: 2px;
    border-color: white;
}

.option{
    background-color: variables.$color-acento-700;
    color: white;
    border: transparent;

}

p{
    margin: 20px;

color: white;  
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
}