

<div id="container">
    <div class="form-container">
        <h1>Iniciar sesión</h1>

        <form #loginForm="ngForm" (ngSumbit)="login()">
            <label for="user" class="sr-only">usuario</label>
            <input type="text" name="user" id="user" [(ngModel)]="loginData.UserName" #user="ngModel"placeholder="Usuario" autocomplete="username" required >
            <label for="password" class="sr-only">contraseña</label>
            <input type="password" name="password" id="password" [(ngModel)]="loginData.Password" #password="ngModel" placeholder="Contraseña">
            <button type="submit" (click)="login()">Iniciar sesión</button>
            <img class="circles" src="./../../../assets/img/icons/circles.svg" alt="circles"*ngIf="(waiting())">
            <p *ngIf="(error())">Error al Iniciar Sesión</p>
        </form>
        <p></p>
        <p>¿Todavía no tenés una cuenta? - <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Registrate</a></p>
    </div>
</div>