<div id="container">
    <div class="form-container">
        <h1>LOG IN</h1>

        <form #loginForm="ngForm" (ngSumbit)="login()">
            <label for="user" class="sr-only">user</label>
            <input type="text" name="user" id="user" [(ngModel)]="loginData.UserName" #user="ngModel"placeholder="User" autocomplete="username" required >
            <label for="password" class="sr-only">password</label>
            <input type="password" name="password" id="password" [(ngModel)]="loginData.Password" #password="ngModel" placeholder="Password">
            <p> Don’t have an account? <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Sign up</a></p>
            <button type="submit" (click)="login()">SIGN IN</button>
            <img class="spinner" src="./../../../assets/img/icons/spinner.svg" alt="cargando" *ngIf="waiting()"><p *ngIf="(error())">failed to login</p>
        </form>
    </div>
</div>