


<div id="container">
    <div class="form-container">
      <h1>Registro</h1>
      <form (ngSumbit)="register()">
        <label for="user" class="sr-only">Nombre de usuario</label>
        <input
          type="text"
          name="user"
          id="user"
          placeholder="Usuario"
          autocomplete="username"
          minlength="4"
          required="true"
          [(ngModel)]="registerData.UserName"
          #username="ngModel"
        />
        <label for="password" class="sr-only">Contraseña</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Contraseña"
          autocomplete="current-password"
          minlength="8"
          [(ngModel)]="registerData.Password"
          #password="ngModel"
        />
        <button type="submit" (click)="register()">
          Registrarse
        </button>
        <p *ngIf="errorRegister()" class="error">Error en el inicio de sesión</p>
      </form>
      <p>
        ¿Ya tenés una cuenta? - <a [routerLink]="['/login']" routerLinkActive="router-link-active" routerLinkActive="router-link-active" >Iniciar Sesión</a></p>
    </div>
  </div>
  