<div id="container">
    <div class="form-container">
      <h1>REGISTER</h1>
      <form (ngSumbit)="register()">
        <label for="user" class="sr-only">Username</label>
        <input
          type="text"
          name="user"
          id="user"
          placeholder="User"
          autocomplete="username"
          minlength="4"
          required="true"
          [(ngModel)]="registerData.UserName"
          #username="ngModel"
        />
        <label for="password" class="sr-only">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          autocomplete="current-password"
          minlength="8"
          [(ngModel)]="registerData.Password"
          #password="ngModel"
        />
        <p> Do you already have an account? <a [routerLink]="['/login']" routerLinkActive="router-link-active" routerLinkActive="router-link-active" > Log In</a></p>
        <button type="submit" (click)="register()">
          REGISTER
        </button>
        <p *ngIf="errorRegister()" class="error">Failed to register</p>
      </form>
    </div>
  </div>
  