@use "./../../../assets/styles/variables.scss";

h1{
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    text-align: center;
    padding: 5px;
    color: variables.$color-acento-600;
}

.container{
    background-image: url("./../../../assets/img/background.png");
    color: variables.$color-texto-wh;
    min-height: 89vh;
    background-repeat: repeat;
    padding-bottom: 35px;
    padding-top:15px;
}