@use "./../../../assets/styles/variables.scss";

historical-component{
    background-color: grey;
    background-position: center;
    background-size:cover;
}
h1{
    background-color: black;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    color: variables.$color-acento-700;
}