@use "./variables.scss";

#container{
  background-color: rgb(74, 74, 74);
  color: variables.$color-texto-wh;
  height: variables.$alto-body;
  display: flex;
  align-items: center;
  justify-content: center;
}


input, button, label{
  font-size: 28px;
}

h1{
  font-size: 32px;
  margin: 0;
  color: variables.$color-acento-600;
  font-family: Arial, Helvetica, sans-serif;

}

.form-container{
  max-width: 400px;
  border-radius: 8px;
  background-color: variables.$color-principal-800;
  padding: 50px;
}

input, button{
  border-radius: 4px;
  padding: 15px 30px;
  color: variables.$color-texto-wh;
  font-family: Arial, Helvetica, sans-serif;
}

input{
  background-color: rgba(0, 0, 0, 0.05);
  border-width: 2px;
  border-color:variables.$color-acento-600;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

button{
  background-color: variables.$color-acento-700;
  color: variables.$color-texto-wh;
  cursor: pointer;
  &[disabled]{
    background-color: variables.$color-principal-400;
    cursor:not-allowed;
  }
}

a{
  color:variables.$color-acento-600;
}

.error{
  color: variables.$color-error;
}

.escondido{
  display: none;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  }

.form-container, form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formcito{
  border-radius: 15px;
}

form+p, form p{
  text-align: center;
}


@media (width < variables.$bp-mobile){
  .form-container{
    max-width: unset;
    padding: 20px;
    width: 100%;
  }
  input, button{
    padding: 7px 15px;
  }
}
