div{
    min-height: 10vh;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    display: flex;
    align-items: start;
    text-align: center;
    flex-direction: column;
}

#date{
    flex-direction: column;
}